

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Elite&display=swap');

*{
    box-sizing: border-box; 

}
body{
    font-family: "Roboto Mono", monospace;
    background-color: blue;
}

#cool{
    align-self: center;
    text-align: center;

    background-color: black;
    color: white;
    border-radius: 20px;
    box-shadow: blue 10px 10px;
    padding: 10px;
    margin-bottom: 20px;
}


#grid {
border: 10px black solid;
display: grid;
grid-template-columns: repeat(4, 100px);
grid-template-rows: repeat(3, 100px);
gap: 170px;
background-color: blue;
align-self: center;
justify-content: center;
padding-top: 30px;
padding-bottom: 10px;
height: 170vh;
margin-left:0 ;

}

.meme{
    width: 200px;
    height: 200px;
    border: solid 5px black; 
    box-shadow: black 7px 9px;
}

.meme:hover{
border: solid 15px black; 
    box-shadow: white 7px 10px;

}